<div class="btn-group btn-group-justified" role="group">
    <%= link_to 'Events', events_path, class: 'btn btn-default', role: 'button' %>
    <%= link_to 'Organizations', organizations_path, class: 'btn btn-default', role: 'button' %>
</div>
